ul{
    padding-left: 0px;
}
li{
    list-style: none;
    border: 1px solid lightgray;
    margin-bottom: 20px;
    border-radius: 5px;
}
.header{
    padding: 20px;
}

.body > img{
    width:100%;
}

.footer{
    padding: 10px 20px;
}

button.btn.btn-lg.btn-block{
    border-radius: 0px 0px 2px 2px;
}
