<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <h3>Results</h3>
        <ul class="result-list">
            <li ng-repeat="property in list.properties track by $index" ng-mouseenter="actionButton=true" ng-mouseleave="actionButton=false">
                <div class="header" ng-style="{'background-color':(property.agency.brandingColors.primary)}">
                    <img src="{{property.agency.logo}}"/>
                </div>
                <div class="body">
                    <img src="{{property.mainImage}}"/>
                </div>
                <div class="footer h4">{{property.price}}</div>
                <button type="button" class="btn btn-success btn-lg btn-block" ng-show="actionButton" ng-click="list.saveItem(property)">Add property</button>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Saved Properties</h3>
        <ul class="saved-list">
            <li ng-repeat="property in list.saved track by $index"  ng-mouseenter="actionButton=true" ng-mouseleave="actionButton=false">
                <div class="header" ng-style="{'background-color':(property.agency.brandingColors.primary)}">
                    <img src="{{property.agency.logo}}"/>
                </div>
                <div class="body">
                    <img src="{{property.mainImage}}"/>
                </div>
                <div class="footer h4">{{property.price}}</div>
                <button type="button" class="btn btn-danger btn-lg btn-block" ng-show="actionButton" ng-click="list.removeSavedItem(property)">Remove property</button>
            </li>
        </ul>
    </div>
</div>
